* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

body {
    display: block;
}

section {
    padding-top: 10%!important;
    padding-right: 5%!important;
    .section-title {
        font-size: 6rem;
    }
}

// add the little line things with the circle from the example on the left of section in fo
//add icons to side nav
#sideNav {
    button {
        z-index: 1000;
        color: red;
        background-color: blue;
    }
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 15rem;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #2E0854; // #imgHolder {
    //     height: 40%;
    // }
    // ul {
    //     list-style: none;
    // }
    // li {
    //     background-color: pink;
    //     font-size: 1.5rem;
    // }
    #selfImage {
        align-items: center;
        background-color: red;
        width: 100px;
        height: 100px;
        align-self: center;
        justify-content: center;
        display: flex;
        margin-top: 100px;
        img {
            background-color: orange;
            width: 100px;
            height: 100px;
            border: #ff4500 solid 10px;
            align-content: center;
            justify-content: center;
        }
    }
    // .linksContainerContainer {
    align-items: center;
    flex-basis: auto;
    display: flex !important;
    flex-grow: 1;
    #linksContainer {
        flex-direction: column;
        font-size: 1.5rem;
        a {
            color: #8b61da;
            font-weight: bolder;
        }
        // }
    }
}

.progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
    .skill {
        padding: 10px 0;
        margin: 0;
        text-transform: uppercase;
        display: block;
        font-family: sans-serif;
        color: #2E0854;
        .val {
            float: right;
            font-style: normal;
        }
    }
}

.progress-bar-wrap {
    background-color: #b394ec;
    height: 10px;
}

.progress-bar {
    height: 10px;
    transition: 0.9s;
    background-color: #2E0854;
}

.progress-bar {
    float: left;
    font-size: 12px;
    line-height: 20px;
    color: red;
    text-align: center;
}

#about {
    .section-title {}
    .firstPara {
        margin-left: 2%;
    }
    .secondPara {
        margin-left: 2%;
    }
    .midAbout {
        display: flex;
        height: 200px;
        align-items: center;
    }
    .container {
        margin: 0 auto;
        float: right;
    }
    #imgDiv {
        float: left;
        background-color: red;
        height: 10px;
        width: 10px;
    }
}

#education {
    section-title {
        color: orange;
    }
    .school-top {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 3% auto;
        margin-left: 2%;
        .school-title {
            color: black;
            font-size: 1.5rem;
        }
        .school-date {
            color: grey;
        }
    }
    .school-info {
        margin-left: 2%;
    }
    // add the little line things with the circle from the example on the left of section in fo
}

#myWork {
    #myLinks {
        display: flex;
        justify-content: space-between;
    }
}

#rightSection {
    background-color: #F5ECCD;
    margin-left: 15rem;
    section {
        min-height: 100vh;
    }
}

#stickyButton {
    width: fit-content;
    padding: 5px;
    font-size: 5rem;
    position: sticky;
    right: 5px;
    bottom: 5px;
    float: right;
    a {
        color: #2E0854;
        text-decoration: none;
        font-weight: bolder;
    }
}

@media (max-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        height: 100px;
        width: 100%;
        background-color: #8b61da;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        #selfImage {
            align-items: center;
            background-color: red;
            width: 70px;
            height: 70px;
            align-self: center;
            justify-content: center;
            display: flex;
            margin-top: 0;
            img {
                background-color: orange;
                width: 70px;
                height: 70px;
                border: orangered solid 10px;
                align-content: center;
                justify-content: center;
            }
        }
        // .linksContainerContainer {
        flex-direction: row;
        display: inline-flex;
        flex-grow: 1;
        #linksContainer {
            font-size: 1.5rem;
            flex-direction: row;
            a {
                color: #b394ec;
            }
        }
        // }
    }
    #rightSection {
        margin-left: 0rem;
        section {
            min-height: 100vh;
        }
        overflow: hidden;
    }
    section {
        padding-top: 20%!important;
    }
}

@media(max-width:576px) {
    section {
        padding-top: 30%!important;
    }
}

@media(max-width:310px) {
    section {
        padding-top: 50%!important;
    }
}